.notification-bloc{
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 300px;
}

.notification-bloc .notification{
    display: flex;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #80808080;
}